<h1>Listing Order</h1>


<table>
  <tr>
    <th>Account</th>
    <th>Desciption</th>
    <th>Country</th>
    <th>Cost</th>
    <th>Quantity</th>
    <th>Unit Price</th>
    <th>Stock Code</th>
    <th>Date</th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.account %></td>
    <td><%= order.description %></td>
    <td><%= order.country %></td>
    <td><%= number_to_currency(order.cost, :unit => "£") %></td>
    <td><%= order.quantity %></td>
    <td><%= number_to_currency(order.unit_price, :unit => "£") %></td>
    <td><%= order.stock_code %></td>
    <td><%= order.purchased_at.strftime('%d/%m/%Y') %></td>
  </tr>
<% end %>
</table>

<br />


